
.fab.fa-apple
{
    background-color: pink;
    color:white;
    /* font-size:20px; */
    font-size:3em;
    padding:10px;
}

.food-background {

    /* forteaza urmatorul element, sa fie depedent de acest  */
    position: relative;
    
    width: 100%;
    height: 100%;

    /*  ../ */
    background-image: url("../img/spag.jpg");
    background-repeat: no-repeat; 
    width: 500px;
    height: 500px;
}

.center {
    position: absolute;
    /* pentru parintele de mai sus aplica urmatoare centrare */
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

* {
    color: orange;
}

p {
    color: black;
}

/* 2 clase css folosesc acelasi cod */
.text-orange  {
    color:orange!important;
}

/* definit de programator nu are treaba bootstrap */
.bg-orange {
    background-color: orange;
}


li {
    list-style-type: none;
    padding-right:20px;
  
}
/* Folosi ctrl-shift-r daca nu se vad actualizarile */
ul li  a{
    color: grey !important;
    
}